.input-wrapper {
  width: auto;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  background: #F7F7F8;
  border-bottom: .0625rem solid #77b8f9;

  input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    height: 2.5rem;
    font: 1.125rem/1.3125rem Roboto Regular,sans-serif;
    padding: 0 10px;
    outline: none;
  }
}

