<div class="error-container">
    <div class="error-code">
        {{error}}
    </div>
    <div class="error-description">
        {{description}}
    </div>
    <div class="button-return">
        <a href="#">back</a>
    </div>

</div>