<div class="box">
    <div class="content-box">
        <div class="footer-title">
            <span>{{footerTitle}}</span>
        </div>
        <div class="form-wrapper">
            <form>
                    <div class="form-block-input">
                {{#each inputs}}
                    {{>input
                            inputType = inputType
                            inputPlaceholder = inputPlaceholder
                    }}
                {{/each}}
                    </div>
                {{#each buttons}}
                    {{>button
                            buttonType = buttonType
                            btnValue = btnValue
                    }}
                {{/each}}
            </form>
        </div>
    </div>
</div>